@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px; 
    font-family:'Big Shoulders Stencil Display', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: inline-block;
}
p{
    color: black;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-family: 'Hind Siliguri', sans-serif;
}


.section-title{
    font-size: 4rem;
    font-weight:300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;

}

.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand h1 span {
    color: gold
}
/*Header*/
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top:0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: .3s ease background-color;
}

#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color:rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;

}
#header .nav-list ul.active{
    left: 0;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: block;
    padding: 20px;

}

#header .nav-list ul a::after{
    content:attr(data-after);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 12rem;
    letter-spacing:50px;
    z-index:-1;
    transition: .3s ease letter-spacing;

}

#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: gold;
}

#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.7);
    margin-right: 15px;
}
#header .hamburger:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_pulse 1s ease infinite;
}

#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height:100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}
#header .hamburger.active .bar::after {
    top: 0;

}

/*End Header*/

/* Home */
#home{
    background-image: url(./img/stemwarriors.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
} 
#home::after {
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1
}
#home .home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}


 #home h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    margin-bottom: 30px;
    animation: text_reveal 1s ease forwards;
}

#home h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color:gold;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#home p{
    display: block;
    font-size: 2rem;
    position: relative;
    color: white;
    margin-bottom: 30px;
    justify-content: center;
}





#home .cta{
    display: inline-block;
    padding:10px 30px;
    margin: 10px;
    border-radius: 50px;
    color: crimson;
    background-color: transparent;
    border: 2px solid blue;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .3s ease;
    transition-property: background-color, color;
}

#home .cta:hover{
    color: white;
    background-color: blue;

}

/* Home End */

/*About*/

#about .about{
    flex-direction:column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}


.section-title span{
    color: gold;
}
#about .about-top{
    width: 500px;
    margin: 0 auto;
}
#about .about-top p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    text-align: center;
}


#about .about-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#about .about-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 13px;
    border-radius: 20px;
    height: 300px;
    background-image: url(./img/);
    box-shadow: 0px 0px 7px 0 gold; 
    background-size: cover;
    margin: 50px 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#about .about-item::after{
    content:'';
    position:absolute;
    justify-content: center;
    align-items: center;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.3;
    z-index:-1;
}
#about .about-bottom .icon{
    height: 80px;
    width: 80px;
    margin: 0 auto;
    text-align: center;
 
    margin-bottom: 20px;
}

#about .about-item h2{
    font-size: 1.5rem;
    color:black;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#about .about-item p{
    color: black;
    text-align: center;
}


/*End About*/

/* Event Schedule*/

#schedule {
    padding: 60px 0 60px 0;
    text-align: center;
    margin: 0 auto;
  }
  
  #schedule .nav-tabs {
    text-align: center;
    margin: auto;
    display: block;
    border-bottom: 0;
    margin-bottom: 30px;
  }
  
  #schedule .nav-tabs li {
    display: inline-block;
    margin-bottom: 0;
  }
  
  #schedule .nav-tabs a {
    border: none;
    border-radius: 50px;
    font-weight: 600;
    background-color: #14192c;
    color: #fff;
    padding: 10px 100px;
  }
  
  @media (max-width: 991px) {
    #schedule .nav-tabs a {
      padding: 8px 60px;
    }
  }
  
  @media (max-width: 767px) {
    #schedule .nav-tabs a {
      padding: 8px 50px;
    }
  }
  
  @media (max-width: 480px) {
    #schedule .nav-tabs a {
      padding: 8px 30px;
    }
  }
  
  #schedule .nav-tabs a:hover {
    background-color: gold;
    color: black;
  }
  
  #schedule .sub-heading {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin: 0 auto 30px auto;
  }
  
  @media (min-width: 991px) {
    #schedule .sub-heading {
      width: 75%;
    }
  }

  #schedule .tab-pane {
    transition: ease-in-out .2s;
  }
  
  #schedule .schedule-item {
    border-bottom: 1px solid #cad4f6;
    padding-top: 10px;
    padding-bottom: 5px;
    transition: background-color ease-in-out 0.3s;
  }
  
  #schedule .schedule-item:hover {
    background-color: #fff;
  }
  
  #schedule .schedule-item time {
    display: inline-block;
    justify-content: center;
    font-size: 20px;

    padding-top: 20%;
    align-items: center;

  }

  #schedule .schedule-item .speaker {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 0 10px 10px 0;
  }
  
  #schedule .schedule-item .speaker img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
  }
  
  #schedule .schedule-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  #schedule .schedule-item h4 span {
    font-style: italic;
    color: gold;
    font-weight: normal;
    font-size: 16px;
  }
  
  #schedule .schedule-item p {
    font-style: italic;
    color: gold;
    margin-bottom: 0;
    text-align: center;
    margin: 0 auto;
  }

/*End of Event Schedule*/

/*Faq*/




/*Faq End*/ 

#faq {
    padding-top: 15%;
    text-decoration: none;
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid gold;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.question h3{
    font-size: 1.8rem;

}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
    animation: fade 1s ease-in-out;
}

.faq.active .answer{
    max-height: 300px;

}

.faq.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform 0.5s ease-in;
}

/*End of Faq*/

/*Contact*/
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 400px;
}
#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}

#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #0000002c; 
}

#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight:500;
}
#icon-title{
    text-align: center;
    font-size: 1.5rem;

}
/*End of Contact*/

/*Footer*/

#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);


}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 25px;
}

#footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
}

#footer .social-item:hover img{
    filter: grayscale(0);
}

#footer .social-icon{
    display: flex;
    margin-bottom: 30px;

}

 #footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
}  

#bothersome {
    color: white;
    font-size: 1.6rem;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    padding-bottom: 25px;
    font-family: 'Open Sans Condensed', serif;

}


/*EndFooter*/

/* KeyFrames */

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left:0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color:white;
    }
}

@keyframes hamburger_pulse {
    0%{
        opacity: 1;
        transform: scale(1)
    }
    100%{
        opacity: 0;
        transform: scale(1.4)
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opcaity: 1;
        transform: translateY(0px);

    }
}



/*End KeyFrames */

/*Media Query For Tables*/

@media only screen and (min-width: 768px){
    #home .cta{
        font-size: 2.5rem;
        padding: 20px 60px;

    }
    h1.section-title{
        font-size: 7rem;
    }
    /*home*/
    #home h1{
        font-size: 8rem;
    }
    #home p{
        font-size: 5rem;
    }

    /*End Home*/

    /*About*/
    #about .about-bottom .about-item{
        flex-basis: 45%;
        margin: 1.5%;
    }

    /*End About*/

    /*Sponsors*/

    /*End Sponsors*/

    /*Faq*/
    
    /*End Faq*/

    /*Contact*/

    #contact .contact{
        flex-direction: cloumn;
        padding: 100px 0;
        align-items:center;
        justify-content: center;
        min-width: 20vh;
    }

    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin: 0;
    }

    #contact .contact-item{
        margin:20px;
        flex-direction: row;
    }

    #contact .contact-item .icon {
        height: 80px;
        width: 80px;
    }

    #contact .contact-item .icon img{
        object-fit: contain;
    }

    #contact .contact-item .contact-info{
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

    /*End Contact*/
}


/*End Media Query For Table*/

/*media Query for Desktop*/

@media only screen and (min-width:1200px){
    #header .hamburger {
        display: none;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    
    #header .nav-list ul li{
        display: inline-block;

    }
    #header .nav-list ul li a{
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after{
        display:none;
    }

    #about .about-bottom .about-item{
        flex-basis: 22%;
        margin: 1.5%;
    }
    

}

/*End media query for Desktop*/
